<% provide(:title, "About") %>
<h1>About the Translator</h1>
<p>
    Geoffrey C. Howes has published four books translated from German to English: 
    <ul class="about">
        <li>Robert Musil, Three Women (Green Integer, 2014).</li>
        <li>Jürg Laederach, The Whole of Life (Dalkey Archive, 2014)</li>
        <li>Peter Rosei, Metropolis Vienna (Green Integer, 2009)</li>
        <li>Peter Rosei, Ruthless and Other Writings (Ariadne Press, 2003)</li>
    </ul>
</p>
<p>
    He is also co-translator with Elfriede Czurda of <em>Rosmarie Waldrop, Ins Abstrakte treiben</em> (Vienna: Edition Korrespondenzen, 2015). 
</p>
<p>
    He has published numerous shorter translations, including texts by Dieter Sperl, Doron Rabinovici, Jürg Laederach, Lilian Faschinger, Susanne Ayoub, Franzobel, Evelyn Schlag, Walter Grond, Margret Kreidl, Lucas Cejpek, Gabriele Petricek, Erich Wolfgang Skwara, and Gerhard Kofler, in periodicals, anthologies, web sites, and catalogues, including Dimension2, The Review of Contemporary Fiction, Feribord, and Borderlands.
</p>
<p>
    Professor emeritus of German at Bowling Green State University in Ohio, Howes has also published over thirty scholarly articles on topics in Austrian literature and culture and was co-editor, with Jacqueline Vansant, of Modern Austrian Literature from 2000-2005.
</p>