<h1>Bibliography</h1>
<h3>Translated Books</h3>
    <ul class="biblio">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
<h3>Translations in Journals and Collections and on Web Sites</h3>
    <ul class="biblio">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li>
            <ul class="biblio-sub">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
<h3>Publications on Translation</h3>
    <ul class="biblio">
        <li></li>
        <li></li>
        <li></li>
    </ul>
<h3>Presentations on Translation</h3>
    <ul class="biblio">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
<h3>Radio Broadcast</h3>
    <ul class="biblio">
        <li></li>
    </ul>
<h3>Translation-Related Book Reviews</h3>
    <ul class="biblio">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>