<div class="container">
    <div class="gch-home">
        <h1>Geoffrey C. Howes</h1>
        <div class="geoff-main">
            <%= image_tag "Howes_Head_Shot.jpg", :class => "headshot" %>
        </div>
        <h3>Literary Translator</h3>
        <h5>German to English</h5>
        <h5>Specializing in Austrian Literature</h5>
    </div>
</div>
